
<div class="container">
  <div row="row">
  
  <div class="col-sx-12">
      <label> Username </label>
      <input type="text" class="form-control">
  </div>
  <div class="col-sx-12">
      <label> Password </label>
      <input type="password" class="form-control">
  </div>
  <hr>
  <div class="row">
      
    </div>
  <div class="col-sx-12">
      
      <button class="btn btn-primary" (click)="onLogin($event)">Login</button>
      <a href="signup" class="btn btn-primary">Sign-Up</a>
  </div>
  <hr>
  <div class="col-sx-12">
      <!--<p [innerText]="userName"></p>-->
      <p>{{userName}}</p>
  </div>
  

</div>
</div>

