<div class="container">
  <div class="row">
  <div class="col-sx-12">
        <label> First Name </label>
        
  </div>
  <div class="col-sx-12">
    <input type="text">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
        <label> Last Name </label>
        
  </div>
  <div class="col-sx-12">
    <input type="text">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
        <label> Email </label>
        
  </div>
  <div class="col-sx-12">
    <input type="text">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
        <label> Password </label>
        
  </div>
  <div class="col-sx-12">
    <input type="password">
  </div>
  <div class="col-sx-12">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
        <label> Confirm Password </label>
        
  </div>
  <div class="col-sx-12">
    <input type="password">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
        <label> Birth Date </label>
        
  </div>
  <div class="col-sx-12">
    <input type="text">
  </div>
</div>
<button class="btn btn-primary">Submit</button>
<button class="btn btn-primary">Cancel</button>

</div>